/* Message List styles */

@media (max-width: 430px) {
  .message-box {
    width: 100%;
  }
  .messages-container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .messageList-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .messageForm {
    align-self: center;
    width: 80%;
    margin: 0 auto;
  }
}

/* .home-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 30px; */

  height: 80%;
  padding: 0;
  margin-top: 100px;
  border: 1px solid black;

  height: 500px;
}

.messageList-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: rgb(108, 98, 252);
  /* background-color: white; */
  width: 40%;
}
.phone-container {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
.react-tel-input .selected-flag {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.react-tel-input .flag-dropdown {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.messages-container {
  padding-top: 72px;
  height: 100%;
  background-image: url("../images/smartphone.png");
  /* background-size: 100% 650px; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.messages-outbox {
  position: absolute;
  /* margin: 0 auto auto 240.4px; */
  text-align: center;
  background: rgba(249, 200, 130);
  width: 204px;
  height: 30px;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 100px;
  z-index: 2;
  margin-left: -1px;
  /* padding-right: 2px; */
  /* left: 5px; */
}
.sent-messages {
  max-height: 360px;
  overflow: scroll;
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 40px 0 0 5px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
