/* message form styles */
label {
  width: 100%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}
.messageForm {
  width: 300px;
}

.messageForm-group {
  margin: 150px auto 0 auto;
  width: 30rem;
}
.btn-block {
  color: black;
  background-color: rgba(135, 191, 255, 0.7);
}
