/* Message Form styles */

@media (max-width: 800px) {
  .messageForm-group {
    margin-top: 250px;
  }
}
.phonetext-img {
  height: 125px;
  width: 125px;
  position: absolute;
  top: -50px;
  left: 160px;
  border-radius: 50%;
  background-color: rgb(108, 98, 252);
}

.top-div {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.messageForm {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
}

.messageForm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  width: 100%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}

.btn-block {
  color: black;
  background-color: rgb(129, 210, 199);
}
