/* Message Form styles */

@media (max-width: 800px) {
  .messageForm-group {
    margin-top: 250px;
  }
}

.messageForm {
  margin-top: 225px;
}

label {
  width: 100%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}

.btn-block {
  color: black;
  background-color: rgba(135, 191, 255, 0.7);
}
