/* Message Form styles */

@media (max-width: 800px) {
  .messageForm-group {
    margin-top: 250px;
  }
}
.phonetext-img {
  height: 125px;
  width: 125px;
  position: absolute;
  top: -50px;
  left: 200px;
  border-radius: 50%;
  background-color: #54c6d2;
}

.form-sub-btn {
  background-color: #5ed0ce !important;
  border-color: #5ed0ce !important;

  &:hover {
    background-color: #3bbfc0 !important;
    border-color: #5ed0ce !important;
  }
  &:focus {
    background-color: #3bbfc0 !important;
  }
}

.top-div {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #54c6d2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.react-tel-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonForm-group {
  margin-top: 20px;
}
#textinput {
  border-radius: 15px;
}
#phoneinput {
  border-radius: 20px;
}
/* .phone-container {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
} */

.card-title {
  color: white !important;
  text-align: center;
  margin-bottom: 30px;
}
.selected-flag {
  background-color: rgb(76, 68, 176);
}
.messageForm {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
}

.messageForm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  width: 100%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}

.btn-block {
  color: black;
  background-color: rgb(129, 210, 199);
}
