.messageList-container {
  background-image: url("/nightsky2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.messages-container {
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("/smartphone.png");
  background-size: 100% 650px;
  height: 600px;
  background-size: contain;
  background-position: absolute;
  background-repeat: no-repeat;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
