/* Nav styles */

.navbar {
  background-color: rgb(129, 210, 199, 0.7);
  border-bottom: 1px solid black;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
}

.navbar-brand {
  color: black;
  font-size: 2rem;
  font-family: "Fredoka One";
  margin: 5px auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.navbar-register {
  align-self: center;
  margin-bottom: 15px;
}
.fa-registered::before {
  height: 5px;
  width: 5px;
}

img {
  align-self: center;
  vertical-align: none;
}

.navbar-text {
  margin: 0;
  padding: 0;
  align-self: center;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-inverse {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  padding: 0 20px;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #87bfff;
}

.navbar-inverse .navbar-nav > li > a.active {
  color: white;
}
