/* Nav styles */

// .navbar {
//   background-color: rgba(129, 210, 199, 0.7);
//   border-bottom: 1px solid black;
//   /* border-bottom-right-radius: 10px;
//   border-bottom-left-radius: 10px; */
// }

// .navbar-brand {
//   color: black;
//   font-size: 2rem;
//   font-family: "Fredoka One";
//   margin: 5px auto;
//   padding: 0px;
//   display: flex;
//   flex-direction: row;
// }
// .navbar-register {
//   align-self: center;
//   margin-bottom: 15px;
// }
// .fa-registered::before {
//   height: 5px;
//   width: 5px;
// }

// img {
//   align-self: center;
//   vertical-align: none;
// }

// .navbar-text {
//   margin: 0;
//   padding: 0;
//   align-self: center;
//   font-size: 24px;
// }

// .navbar-nav {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: space-between;
// }

// .navbar-inverse {
//   padding-top: 0;
//   padding-bottom: 0;
// }

// .navbar-inverse .navbar-nav > li > a {
//   color: black;
//   padding: 0 20px;
//   text-decoration: none;
// }

// .navbar-inverse .navbar-nav > li > a:hover {
//   color: #87bfff;
// }

// .navbar-inverse .navbar-nav > li > a.active {
//   color: white;
// }

nav {
  font-size: 0.75em;
  padding: 1.5em 12% !important;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 12px 20px 10px rgba(0, 0, 0, 0.4);
  @media (max-width: "320px") {
    a.navbar-brand {
      margin-right: 2px !important;
    }

    .nav-title {
      font-size: 20px !important;
    }

    .nav-undertitle {
      font-size: 7px !important;
      font-family: "CircularStd", sans-serif !important;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    .nav-title-wrapper {
    }
    .nav-title {
      // margin-top: 5px;
      font-family: "Bungee", sans-serif;
      font-weight: 500;
      font-size: 23px;
    }
    .nav-undertitle {
      color: grey;
      margin-top: -7px;
      font-size: 8px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
  }

  .nav-item {
    align-self: center;

    a {
      font-family: "CircularStd", sans-serif;
    }
  }

  .signup-btn {
    font-family: "CircularStd", sans-serif;
    width: 100px;
    border-radius: 5rem;
    font-size: 1em;
    font-weight: bold;
    background-color: #5ed0ce;
    border-color: #5ed0ce;

    &:hover {
      background-color: #3bbfc0;
      border-color: #5ed0ce;
    }
    &:focus {
      background-color: #3bbfc0;
    }
  }

  .nav-logo-bubble {
    @media (max-width: 425px) {
      width: 35px;
      height: 35px;
    }
  }
}

.filler {
  height: 6rem;
}
