/* Nav styles */

.navbar {
  background-color: rgb(129, 210, 199, 0.7);
  border-bottom: 1px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar-brand {
  color: black;
  font-size: 2rem;
  font-family: "Fredoka One";
  margin: 10px auto;
}

.navbar-text {
  margin-bottom: 0;
  padding: 0;
  vertical-align: bottom;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-inverse {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  padding: 0 20px;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #87bfff;
}

.navbar-inverse .navbar-nav > li > a.active {
  color: white;
}
