/* Signup page styles*/

.signup-container {
  height: 100vh;
}

.signup-card {
  height: 340px;
  margin: 70px auto;
  width: 30rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 12px 20px 10px rgba(0, 0, 0, 0.4);
}

.signup-card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #54c6d2;
  text-align: center;
  padding-top: 10px;
  color: black;
  // border-top: 1px solid black;

  h2 {
    font-family: "Bungee", sans-serif;
  }
}

.signup-card-body {
  padding: 2rem;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;

  background: inherit;
  backdrop-filter: blur(20px);
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #87bfff;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #65bad4;
  color: black;
  border: 0;
}

input:focus {
  outline: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

// .login_btn {
//   color: black;
//   background-color: rgb(108, 99, 255);
//   width: 100px;
// }

// .login_btn:hover {
//   color: black;
//   background-color: white;
// }

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

a:hover {
  text-decoration: none;
}
