@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("/nightsky1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Numans", sans-serif;
}
