@import url("https://fonts.googleapis.com/css?family=Numans");

/* Index styles */

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  font-family: "Numans", sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .login-bg {
    background: 100%;
  }
  .signup-bg {
    background: 100%;
  }
  .home-bg {
    background: 100%;
  }
}

@media (max-width: 800px) {
  .home-bg {
    height: 150vh;
  }
}

.login-bg {
  background: url(./images/nightsky2.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.signup-bg {
  background: url(./images/nightsky2.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.home-bg {
  background: url(./images/nightsky1.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}






